html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center top;

}

/*p{

}*/

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.barra{
    display: inherit;
}

#logo{
    display: inherit;
    width:200px;
}

.content-wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.centered-banner-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.colizq-div, .colder-div{
    flex-grow: 1;
    background-color: transparent;
}

.banner-div{
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 1000px;
}

.interactive-bar{
    display: flex;
    margin-top: 0%;
    background-color: rgb(47, 46, 46);
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    background-color: rgb(10, 10, 10);
    padding: 20px 0;
}

#contact-button{
    width: 225px;
}