html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center top;

}

/*p{

}*/

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.barra{
    display: inherit;
}

#logo{
    display: inherit;
    width:200px;
}

.centered-banner-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.colizq-div, .colder-div{
    flex-grow: 1;
    background-color: transparent;
}

.banner-div{
    width: 1000px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 1080px;
}

.main-content{
    display: flex;
    background-color: rgb(10, 10, 10);
}

/*.interactive-bar{
    display: flex;
    margin-top: %;
    background-color: rgb(47, 46, 46);
    border: 3px;
    border-color: maroon;

}*/

#contact-button{
    width: 75px;
}