@font-face {
    font-family: vcr_osd_mono;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center top;
    font-family: 'vcr_osd_mono', sans-serif;
}

p{
    padding: auto;
    color: whitesmoke;
    text-align: center;
    
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.barra{
    display: inherit;
}

#logo{
    display: inherit;
    width:200px;
}

.content-wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.centered-banner-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.colizq-div, .colder-div{
    flex-grow: 1;
    background-color: transparent;
}

.banner-div{
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 1000px;
}

.main-content{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    padding: 0px;
}

.interactive-bar{
    height: 50px;
    width: 1000px;
    display: flex;
    z-index: 300;
    background:url(../img/Iconos/bar.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.button-bar{
    width: 225px;
}

#desc-button{
    width: 190px;
}

.carousel-container { 
    margin-top: px;
    width: 800px;
    overflow: hidden;
    position: relative;
    margin: -60px auto;
}

.carousel-slide {
    justify-content: center;
    padding: 100px;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    width: 400%;
}

.carousel-img {
    max-width: 850px;
    max-height: 450px;
    flex-shrink: 0;
}

#imagen-carrousel{
    width: 600px;
    height: 500px;
}

.prev-btn, .next-btn {
    height: 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: maroon;
    color: white;
    border: none;
    padding: 4px 20px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}