@font-face {
    font-family: fuente-lectura;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: fuente-titulos;
    src: url(../fonts/Pixelout\ Personal\ Use\ Only.ttf);
    font-weight: normal;
    font-style: normal;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center top;
    font-family: 'fuente-lectura', sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: 'fuente-titulos', sans-serif;
    color: maroon;
}

p{
    padding: auto;
    color: whitesmoke;
    text-align: center;
}

.main-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.barra{
    display: inherit;
}

#logo{
    display: inherit;
    width:200px;
}

.content-wrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}

.centered-banner-div{
    display: flex;
    width: 100%;
    align-items: center;
}

.colizq-div, .colder-div{
    flex-grow: 1;
    background-color: transparent;
}

.banner-div{
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 1000px;
}

.main-content{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    padding: 0px;
}

.interactive-bar{
    height: 50px;
    width: 1000px;
    display: flex;
    z-index: 300;
    background:url(../img/Iconos/bar.png);
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: center center;
    justify-content: center;
    align-items: center;
}

.button-bar{
    width: 190px;
}

#inicio-ico{
    width: min-content;
    height: 51px;
}

.subscription-box {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.subscription-form {
    width: 100%;
    max-width: 800px;
    background-color: rgb(20, 20, 20);
    padding: 30px;
    border: 2px solid #550000;
    border-radius: 8px;
}

.campos-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-item {
    width: 48%;
    margin-bottom: 20px;
}

.subscription-form label {
    display: block;
    margin-bottom: 5px;
    color: #ff3333;
    font-family: 'fuente-titulos', cursive;
    font-size: 1.1em;
}

.subscription-form input:not([type="checkbox"]), .subscription-form textarea {
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 40, 40);
    border: 1px solid #440000;
    color: white;
    box-sizing: border-box;
    font-family: 'fuente-lectura', sans-serif;
}

.form-check {
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-check label {
    display: inline;
    font-size: 1em;
    font-family: 'fuente-lectura', sans-serif;
    color: #ccc;
    margin-left: 10px;
}

.error-message {
    display: block;
    color: rgb(218, 3, 3);
    font-size: 0.8em;
    margin-top: 5px;
}

.submit-button {
    width: 100%; 
    padding: 12px;
    background-color: #ff3333; /* Rojo llamativo */
    color: black;
    border: 2px solid #880000;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'fuente-titulo', cursive;
    font-size: 1.3em;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #ff6666;
}