html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.png);
}

/*p{

}*/

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.barra{
    display: inherit;
    
}

#logo{
    display: inherit;
    width:200px;
}

.banner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
    
}

#banner{
    width:1080px;
}